<div class="panel panel-info" data-ng-repeat="post in home.posts">
    <div class="panel-heading">
        <h3 class="panel-title">{{post.Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="post-text">{{post.Text}}</div>
    </div>
    <div class="panel-footer clearfix">
        <div class="post-time-ago float-left"> от <a href="javascript:void(0)" class="navbar-link">{{post.UserLogin}}</a></div>
        <div data-ng-if="post.UserId == user.user_id" class="post-administration float-right">
            <a href="/post/{{post._id.$id}}" class="navbar-link">Редактировать</a> / <a data-ng-click="home.deletePost(post._id.$id, $index)" href="javascript:void(0)" class="navbar-link">Удалить</a>
        </div>
    </div>
</div>

<div class="empty-posts">
    <h1 data-ng-if="!home.posts.length">Нет добавленных новостей</h1>
</div>

