<div class="panel panel-info" data-ng-repeat="post in home.posts">
    <div class="panel-heading">
        <h3 class="panel-title">{{post.Title}}</h3>
    </div>
    <div class="panel-body">
        <div class="post-img">
            <img data-ng-src="{{post.ImagePath}}" alt="post.Title" />
        </div>
        <div class="post-text">{{post.Text}}</div>
    </div>
<!--     <div class="panel-footer clearfix">
        <div class="post-time-ago float-left">{{post.DateCreation | fromNow}} от <a href="javascript:void(0)" class="navbar-link">{{home.post.UserLogin}}</a></div>
        <div data-ng-if="home.post.UserId == user.user_id" class="post-administration float-right">
            <a data-ng-click="edit(post.Id)" href="javascript:void(0)" class="navbar-link">Редактировать</a> / <a data-ng-click="delete(post.Id)" href="javascript:void(0)" class="navbar-link">Удалить</a>
        </div>
    </div> -->
</div>

<div class="empty-posts">
    <h1 data-ng-if="!home.posts.length">Нет добавленных новостей</h1>
</div>

